@media screen and (max-width: 1300px){
	#parrafo_principal {
		left: 1%;
	}
	.logo {
		left: 12%;
	}
}


@media screen and (max-width: 1100px){
	

}


@media screen and (max-width: 1100px){
	.nav__ul {
		
		height: 100px;
		
		position: relative;
		background: #094700;
		z-index: 200;
	}
	.nav__ul ul li {
		width: 100%;
		margin: auto;
	}
}
@media screen and (max-width: 1050px){
	.nav__ul {
		display:none ;
	}
	.menu-page{
		height: 37px;
		width:100% ;
		background: green;
	}
	.nav__ul-resposive {
		display: block;
	}
	.nav_li-container {
		top: 0 ;
		display: block;
		}
		.nav__responsive-buttom-container {
			display: block;
		}
	.logo {
		left: 20%;
	}
	

}
@media screen and (max-width: 992px){
	.Redes_Sociales {
		padding-left: 70%;
	}
	
}
@media screen and (max-width: 878px){
	.fondo-main {
	position: relative;
	width: 100%;
	height: 2750px;
}
	main {
	position: relative;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	height: 2750px;
	margin: auto;
	margin-bottom: 140px;
	align-items: center;
}
main section {
	position: relative;
	margin: 0 12%;
	width: 150%;
}

.card_3 {
	max-height: 485px;
	height: 60%;
}
.articles {
	margin: auto;
	width: 100%;
}
.wrapper_left {
	float: none;
	position: relative;
	bottom: 230px;
	width: 50% ;
	text-align: ;
	padding-top: ;
	order: 1;
	margin-left: auto;
	margin-top:auto;
	width: 405px;
}
.wrapper-right {
	order: 2;
	position: relative;
	bottom: 430px;
	margin-left: auto;
	margin-top: auto;
	margin-left: auto;
	margin-top:auto;
	width: 435px;
}
	
.foto-menu-container {
	width:  405px;
}
	.foto-menu{
		position: relative;
		right: ;
		width: 100%;
	}

}
@media screen and (max-width: 700px){
	header {
	height: 100px;
	
}
	.logo {
		width: 70%;
		margin-top: 10px;
		margin-left: 10px;
	}
	#parrafo_principal {
	width: 200px;
	font-size: 12px;
}
}

@media screen and (max-width: 680px){
	.logo {
		width: ;
		margin: auto 0;
	}
	/*
	.card_1 {
		max-width: 400px;
		width: 90%;
		background: red;
		margin: auto;
	}
	*/


	.content-footer-1 {
		padding-left: 1%;
	}
	footer .content-footer-3 {
		padding-left: 80%;
	}
	.Redes_Sociales {
		padding-left: 60%;
	}
}
@media screen and (max-width: 600px) {
	.logo {
		width: 70%;
		margin-top: 10px;
		margin-left: 0px;
	}

	.card_1,.card_2,.card_3,.card_4 {
	width: 270px;
	height: 275px ;
}
.card_2 {
	position: relative;
	margin-top: 15px;
}
.card_3{
	position: relative;
	margin-top: 15px;
}
.card_1 img { 
	margin: 5px;
	object-fit: cover;
	object-position: center;
}
.card_2 img { 
	margin: 5px;

	object-fit: cover;
}
.card_3 img { 
	margin: 5px;
	width: 97.5%;
}
.div-img img {
	width: 97.5%;
	height: 130px;

}
.oferta-refresco {
	position: relative;
	top: -28px;
	left: 265px;
	color: #AC221B;
	font-size: 8px;
}




}
@media screen and (max-width: 550px) {
	#parrafo_principal {


	top: 30px;
	left: 10px;
	
}
.logo {
	top: 30px;
	left: 30px;
}
header {
	height: 100px;

	
}
	.nav__responsive-buttom {
	position: relative;
	bottom: 0px;
	}
}
@media screen and (max-width: 500px){
	footer {
		height: auto;
	}
	.content-footer-1 {
		position: relative;
		text-align: center;
	}
	footer .content-footer-2 {
		position: relative;
		padding-left: 1%;
		padding-top: 0px;
		text-align: center;
	}
	footer .content-footer-3 {
		position: relative;
		padding-left: 1%;
		bottom: 40px;
		text-align: center;
	}
	.Redes_Sociales {
		position: absolute;
		top: 290px;
		padding-left: 0px;

		padding-left: auto;
		padding-right: auto;
		
	}
}
/*===========================================================Mobile Design============================================================================*/
@media screen and (max-width: 500px){
	main {
	width: 100%;
	max-width: 340px;
	height: 100%;
}
.fondo-main {
	height: 1800px;
}
.wrapper_left {
		top: -50px;
		width: 70%;
	}
	.wrapper-right {
		top: -100px;
		left: -20px;
		width: 70%;
		
	}
	.card_1,.card_2,.card_3,.card_4 {
	
	width: 280px;
	height: 250px ;
	right: 35px;
}
.div-img img {
	height: 120px;
	width: 95.5%;
}


input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-left: 6px;
	margin-top: 0px;
}
input[type="checkbox"]:checked {
	
}

label {
	font-size: 12px;
	top: 0px;
}
input[type="button"] {
	top:225px;
	margin: 0px 37.33%;
	left: 5px;


	height:20px;
	width:60px;
	border-radius: 10px;
	border-color: none;
	position: absolute;
	top: ;
	margin-left:;
}
input[type="name"]{
	
}

.oferta-refresco {
}
/* foto  de pizza 1 */


.fondo_negro{
	background: #000;
	width:65px;
	height:20px;
	margin: auto;
}
.fondo_negro p {
	font-size:11px ;
	top: 4px;
}
	
	
	.menu .fondo_negro .h1-menu {
		font-size: 18px;
		text-align: center;
	}
	.article-menu {
	
	

}
.foto-menu-container {
	margin:auto;
	position: relative;
	right: 20px;
	width: 280px;	
}
.foto-menu{

	margin-left:0;
	width: 100%;
	height: auto;
}

.deditos {
	margin-top: 10px;
	margin: 0 auto;
	width: 280px;
	right: 20px;
	height: 100px;

}
.deditos-queso {
	background-image: url("../photos/deditos de queso.png") ;
	background-size: cover;
	object-fit: cover;
	object-position: ;

}
main section {
	position: relative;
	margin: 0 12%;
	width: 380px;

}

.card_4 {
	top: 14.5px;
	width: 280px;
	right: 20px;
	height: 283px;
	margin-left: auto;
	margin-right: auto;
}
.img-card_4 {
	position: relative;
	width: 100%;
	height: 160px;
}
.card_4 img{
	padding: 5px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card_4 .fondo_negro{
	margin-top: 0px;
}
.card_4 input[type="checkbox"] {
	top: 16px;
}
.card_4 label {
	top: 10px;
}

.card_4 input[type="button"]{
	top: 50px;
	left: 5px;
}
.card_4 i {
	font-size: 15px;
	margin-left: 70px;
	margin-top: 7px;
}
/*==============footer mobile=================*/
footer {
		height: 500px;
	}
footer p {
	font-size: 15px;
}
	
	.Redes_Sociales {
		
	}
}
