*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}
header {
	height: 140px;
	width: 100%;
	background: #094700;
	box-sizing: border-box;
}
#parrafo_principal {
	width: 200px;
	color: white;
	font-family: josefin sans;
	font-size: 20px;
	margin-left: ;
	position: relative;
	top: 56px;
	left: 5%;
	z-index: 110;
}
.header-p-a{
	text-decoration: none;
}
.logo {
	position: absolute;
	top: 0px;
	margin-top: 15px;
	left:20%;
	width: 500px;
	z-index: 110;
}
.nav__ul {
	list-style: none;
	position: relative;
	top: 10px;
	left: 60%;
	width:40% ;
}
.nav__ul {
	display: flex;
}
ul {
	list-style: none;
}
.nav__ul ul li a {
	padding-top: auto;
	text-decoration: none;
	
}
.li-menu{
	padding: 20px;
	
}

.li-menu p {
	font-family: 18px;
	color: white;
	list-style: none;
}

.nav__ul-resposive {
	display: block;
	position: absolute;
}
.nav__ul-resposive {
	position: relative;
	margin-left:0 ;
	width:100% ;
	display: block;
	height: 20px;
}
.nav__ul-resposive {
	font-size: 25px;
	z-index: 110;
}

.nav__ul-resposive:hover > .nav__li-container  {
	top: 0;
|   z-index: ;

}
.nav__responsive-buttom-container {
	position: absolute;
	width: 100%;
	font-size: 25px;
	background: #094700;
	display:none ;
	z-index: 100;
}
	.nav__responsive-buttom {
	padding: 30px 20px;
	float: right;
	text-align: right;
	width: 100%;
	}
	.nav__li-container {
		position: relative;
		top: -1000px ;
		height: calc(100vh - 64px);
		background: red;
		transition: all 1s ;
		z-index: 200;
		width: 75%;
		padding-top:27px ;
		z-index: 100;
		
	}
nav ul a {
	text-decoration: none;
}


/*==============main=======================*/
section {
	width: 100%;
}
.fondo-main {
	background-image: url("../photos/eatpizza.jpg") ;
	background-size: cover;

	position: relative;
	float: right;
	width: 100%;
	height: 1266px;
}
main {
	position: relative;
	display: block;
	bottom:;
	width: 100%;
	max-width: 878px;
	height: 100%;
	background: rgba(0,16,0,0.70);
	margin: auto;
	margin-bottom: 140px;
	z-index: 20;
	display: flex;
}
main h1 {
	position: relative;
	bottom: 13px;
	text-align: center;
	color: #fff;
	
	padding-top: 30px;

	font-size: 25px;
}

.menu .fondo_negro{
	position: relative;
	margin-top: 30px;
}

.card_1,.card_2,.card_3,.card_4 {
	position: relative;
	margin-left: 35px;
	width: 370px;
	height: 385px ;
	background:rgba(255, 255, 255, 0.4);
}
.card_2 {
	position: relative;
	margin-top: 15px;
	height: 365px;
}
.card_3{
	position: relative;
	margin-top: 15px;
}
.card_1 img { 
	margin: 5px;
	object-fit: cover;
	object-position: center;
}
.card_2 img { 
	margin: 5px;
	object-fit: cover;
	object-position: center;
}
.card_3 img { 
	margin: 5px;
	width: 90%;
	height: 200px;
}
.div-img img {
	width: 97.5%;
}
/*====================para efecto hover a img========================== 
.foto-menu-container {
	display: flex;
	justify-content: center;
	align-items:center ;
	background: blueviolet;
    height:100% ;
	width:100% ;
}
.foto-menu-capa {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(125,0, 0, .50);
}
*/
.oferta-refresco {
	position: relative;
	top: -28px;
	left: 265px;
	color: #AC221B;
	font-size: 14px;
}
/* foto  de pizza 1 */


.fondo_negro{
	background: #000;
	width:115px;
	height:30px;
	margin: auto;
}
.fondo_negro p {
	font-size:18px ;
	color:#FFF6F6 ;
	text-align: center;
	position: relative;
	top: 4px;
}
.checkbox {
	width: 200px;
}
input[type="checkbox"] {
	appearance: none;
	-webkit-appearance:none;
	background-color: #333333;
	border: double 2px #000;
	width: 30px;
	height: 30px;
	margin-left: 12px;
	margin-top: 0px;
	position: relative;
	top: 5px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
input[type="checkbox"]:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900; /*sin esto no se ve el check*/
	content: "\f00c";
	font-size: 12px;
	color: white;
	display: none;


}
input[type="checkbox"]:hover {
	background: green;
}
input[type="checkbox"]:checked {
	background-color: red;

}
input[type="checkbox"]:checked:before {
	display: inline-block;
}

label {
	font-size: 15px;
	color: white;
	position: relative;
	top: -3px;
	margin: 5px;
}
input[type="button"] {
	height:30px;
	width:125px;
	background: #094700;
	border-radius: 10px;
	border-color: none;
	position: relative;
	top: -5px;
	margin-left: 130px;
}
input[type="name"]{
	color: red;
}

main .articles {

	max-height: 800px;
}

.wrapper_left {
	
	z-index: 30;
	width: 100%;
	position: relative;
	margin: 30px auto;

	
}




main .h1-menu {	
	position: relative;
	font-size: 25px;
	margin: 0 auto;
	
}
.article-menu {
	height: ;
	width: 100%;

}
.foto-menu{
	position: relative;
	top: left;
	margin-left:0;
	width: 405px;
	height: 608px;
	border-radius: 2px;
}
.deditos {
	float: l;
	position: relative;
	margin-top: 10px;
	width: 405px;
	height: 144.5px;
	object-position:;
}

.deditos-queso {
	background-image: url("../photos/deditos de queso.png") ;
	background-size: cover;
	object-fit: cover;
	object-position: ;

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 40;
	border-radius: 2px;
}
.card_4 {
	position: relative;
	top: 14.5px;
	width: 405px;
	
	background: rgba(255, 255, 255, 0.4);

	height: 385px;
	margin-left: 0px;
}
.img-card_4 {
	position: relative;
	width: 100%;
	height: 258px;
}
.card_4 img{
	padding: 5px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card_4 .fondo_negro{
	margin-top: 10px;
}
.card_4 input{
	margin-top: 0px;
}
.card_4 input[type="button"]{
	position: relative;
 	bottom: 5px;
	margin: center;
}
.card_4 i {
	color: #FFD700;
	font-size: 27px;
	position: relative;
	left: 100px;
	top: 0px;
}
/*====================================================FOOTER====================================================================*/
footer {
	position: relative;
	float: left;
	margin: 0px;
	height: 222px;
	width: 100%;
	background: #021100;
	font-size: 12px;
}
footer p {
	color: white;
	margin: 10px;
	display: block;

}
.content-footer a {
	text-decoration: underline #fff;
	


}
.content-footer-1 {
	position: absolute;
	
	padding-top: 30px;
	padding-left: 10%;
}
footer .content-footer-2 {
	position: absolute;
	padding-top: 30px;
	
	
	padding-left: 35%;
}
footer .content-footer-3 {
	position: absolute;
	padding-top: 30px;

	padding-left: 67%;
}
.Redes_Sociales{
	position: absolute;

	padding-top: 150px;
	padding-left: 80%;
}
.Redes_Sociales i {
	margin-left: 18px;
	color: #094700;
	font-size: 49px;
	-webkit-text-stroke: 0.15px  white;
}


